@import "../../../../styles/variables.scss";

.this_day {
  padding: 20px;
  max-width: 400px;
  width: 100%;
  background: $light-background;
  box-shadow: $box-shadow;
  border-radius: $border-radius;
  margin-right: 10px;
  margin-left: 5px;
  @media screen and (max-width: 768px) {
    margin: 0 auto 15px;
  }
}

.top_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
  img {
    width: 260px;
    height: 260px;
  }

  .this_temp {
    font-size: 96px;
    font-weight: 500;
    color: $primary-color;
  }

  .this_day_name {
    font-size: 40px;
    color: $light-color;
  }
}

.bottom_block {
  .this_time,
  .this_city {
    font-size: 25px;
    color: $basecolor;
  }
}

.weather_icon {
  width: 182px !important;
  height: 182px !important;
}
