@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
@import "./variables.scss";

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  position: relative;
  height: 100%;
}

.conteiner {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 20px;
}

button {
  padding: 10px 15px;
  font-size: 16px;
  background-color: $primary-color;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}