.wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.ask_text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ask_link {
  margin: 0 2px 0 4px;
  font-weight: 700;
  color: black;
}